body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: linear-gradient(-24deg, #2b5876 0%, #4e4376 100%);
}

.center {
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.log-default {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.log-info {
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

.log-success {
    color: #4CAF50;
    font-size: 14px;
}

.log-error {
    color: #F44336;
    font-size: 14px;
}

.message {
    padding: 1px;
    margin: 1px;
    width: 100%;
    vertical-align: bottom;
    font-family: monospace;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: start;
}

#console-header {
    background-color: #4e4376;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    border-bottom: 1px solid #fff;
}


#console-messages {
    position: relative;
    display: block;
    width: 100%;
    height: 95%;
    padding-bottom: 20px;
    background-color: #303030;
    overflow-y: scroll;
    overflow-x: hidden;
}


#console {
    position: absolute;
    display: block;
    width: 50%;
    height: 55%;
    background-color: #303030;
    overflow: hidden;
    border: 1px solid #fff;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#title-text {
    color: white;
    text-align: center;
    position: relative;
    font-family: "Roboto";
    font-size: 42px;
    margin-top: 30px;
    text-shadow: 0 0 25px #be6ee2;
}

#description-text {
    color: white;
    text-align: center;
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    margin-top: 50px;
    text-shadow: 0 0 25px #be6ee2;
}

#console-footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 5%;
    background-color: #303030;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #fff;
}

#footer-labels{
    color: white;
    text-align: start;
    position: relative;
    vertical-align: middle;
    font-family: monospace;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}