<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Zumbi</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <div id="title-text">Aplicação Zumbi</div>
        <div id="description-text">Esta é a aplicação maliciosa que se conecta ao servidor de controle e executa comandos recebidos</div>
        
        <div id="console" class="center">
            <div id="console-header">registro de comunicações</div>
            <div id="console-messages"></div>
        </div>
        
        <div id="particles-js"></div>
        <script src="./static/zombie.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script src="./static/app.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    </body>

</html>